

.article-cards {
    @include respond-to( $bp-s ) {
        display: flex;
        flex-wrap: wrap;
        margin-right: -3%;
    }

    .entry {
        @include respond-to( $bp-s ) {
            flex: 0 0 50%;
            margin: 0 3% 3% 0;
        }

        @include respond-to( $bp-m ) {
            flex: 0 0 30%;
            margin: 0 3% 3% 0;
        }
    
        .entry-thumbnail {
            max-width: 80%;
            margin: 0 auto 10px;
            mask: url(../img/mask-circle.svg) center center no-repeat;
            mask-size: 100% 100%;
            position: relative;

            img {
                display: block;
                margin-bottom: 20px;
            }
        }
        &.navy .entry-thumbnail { 
            background: $navy; 
            img { @include tint( 'navy' ) }
        }
        &.teal .entry-thumbnail {
            background: $teal; 
            img { @include tint( 'teal' ) }
        }
        &.purple .entry-thumbnail { 
            background: $purple;
            img { @include tint( 'purple' ) }
        }
        &.green .entry-thumbnail { 
            background: $green;
            img { @include tint( 'green' ) }
        }

        h4 {
            font-size: 1.1em;

            a {
                color: $navy;
            }
        }

        p {
            font-size: .9em;
        }

        .post-date {
            padding: 0;
            opacity: .7;
            font-size: .85em;
        }
    }
}


.single-post {
    section.content {
        border-top: 15px solid rgba( $grey, .2 );
    }
}

.content-wide.article {
    .post-date {
        color: $grey;
        font-size: .9em;
    }

    .post-thumbnail {
        max-width: 400px;
        margin: 20px auto;
        mask: url(../img/mask-circle.svg) center center no-repeat;
        mask-size: 100% 100%;
        position: relative;

        @include respond-to( $bp-m ) {
            margin: 0 0 20px 20px;
            float: right;    
        }

        img {
            display: block;
        }
    }
    &.navy .post-thumbnail { 
        background: $navy; 
        img { @include tint( 'navy' ) }
    }
    &.teal .post-thumbnail { 
        background: $teal; 
        img { @include tint( 'teal' ) }
    }
    &.purple .post-thumbnail { 
        background: $purple; 
        img { @include tint( 'purple' ) }
    }
    &.green .post-thumbnail { 
        background: $green; 
        img { @include tint( 'green' ) }
    }

    h1 {
        color: $navy;
    }
}
